<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
    <title>Book Club</title>

</head>

<body>
    <div class="top-bar">
        <div class="dropdown">
            <button class="drop-button">Members</button>
            <div class="drop-content">
                
            </div>
            <div id='this-username'>Logged in as <span><%= username %></span> </div>
            <div id="logout-form">
                <form action="/logout?_method=DELETE" method="POST">
                    <button type='submit' id='log-out-button'>Log Out</button>
                </form>
            </div>
        </div>

        <h1 class="title">Dope Books Society</h1>

        <div class="dropdown">
            <button class="drop-button">Options</button>
            <div class="drop-content">
                <div class="option">
                    <form action="/all_books" method="GET">
                        <button>View Books</button>
                    </form>                
                </div>
                
                <div class="option">
                    <form action="/add_book" method="GET">
                        <button>Add Book</button>
                    </form>
                </div>
                
                <div class="option">
                    <form action="/recommend_book" method="GET">
                        <button>Rec Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="chat-history">

    </div>

    <div id="buffer"></div>


    <div class="chat-form-wrapper">
        <form action="/" method="POST" id="chat-form">
            <input id="txt" autocomplete="off" autofocus="on" placeholder="your big idea here..."/><button>Send</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>

    
</body>
</html>